html{
    height: 100%;
}
body{
    display: flex;
    flex: 1;
    margin: 0;
    height: 100%;
    width: 100%;
    flex-direction: column;
    
}
.header{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: blue;
    border-bottom: 1px solid black;
    width: 100%;
}
.main{
    display: flex;
    flex: 19;
    flex-direction: column;
    background-color: teal;
}
.roundedBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    height: 50%;
    width: 15%;
    border-radius: 5px;
}